* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  padding: 20px 40px;
  background: linear-gradient(135deg, #000000, #82f0ff);
  color: white;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

header div:first-child {
  font-size: 24px;
  font-weight: bold;
}

nav {
  display: flex;
  gap: 25px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: #000000;
}

main {
  display: flex;
  margin-top: 80px;
  min-height: calc(100vh - 230px);
}

/* Lateral izquierdo */
.estadisticas {
  width: 180px;
  background-color: #abebf0;
  padding: 15px;
}

.estadisticas table {
  width: 100%;
  font-size: 12px;
}

.medida-cubo {
  width: 50px;
  height: 50px;
}

/* CONTENIDO PRINCIPAL */
.contenido {
  flex: 1;
  background-color: #ffffff;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px;

  gap: 40px;
}





table, th, td {
  border: 2px solid #000;
}

.jugadores {
  background-color: #010501;
  color: white;
  padding: 8px 12px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}

.medida {
  width: 150px;
  height: 150px;
  padding: 0;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  padding: 20px 40px;
  color: white;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: linear-gradient(135deg, #000000, #82f0ff);
}
